DJANGO_SETTINGS_MODULE=outdoor_backend.settings
DJANGO_CONFIGURATION=LocalConf
DJANGO_SECRET_KEY='django-insecure-h(mif2$qt=b6$^+u7m67h5nq#ge!ayhlec(&)e0d1pvpj#pf=n'
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/outdoor
CORS_ALLOWED_ORIGINS=http://localhost:3000
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=30
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
LOG_LEVEL=INFO
